{% load static %}

<div class="col-lg-4">
    <div class="order-item">

        {% if orders.is_completed == True %}
        <div>
            <h4>Статус: Выполнен</h4>
        </div>
        {% else %}
        <div>
            <h4>{{ orders.status }}</h4>
        </div>
        {% endif %}

        {% for products in products_in_order %}
        <p></p>
            {% if products.order.user.username == orders.user.username and products.order.id == orders.id %}
                <div>{{ products.product.name }} - {{ products.nmb }}шт. х {{products.price_per_item}} руб.</div>
            {% endif %}
        {% endfor %}
        <div>Сумма заказа: {{ orders.total_price }}</div>

        {% if orders.is_completed == False %}
        <form id="form_confirm_order" class="form-inline" action="{% url 'confirm_order' orders.id %} ">{% csrf_token %}
            <div class="form-group">
                <button type="submit" id="submit_btn_confirm" class="btn btn-success btn-confirm"
                     data-order_id = "{{ orders.id }}" >
                 Подтвердить получение
                </button>
            </div>
        </form>
        {% endif %}

    </div>
</div>
