{% load static %}

<div class="col-lg-12">
    <div class="order-item">

        <div>
            <h4>{{ orders.status }}</h4>
        </div>
        <p>
            {{ orders.user.username }}
        </p>


        {% for products in products_in_order %}
        <!--print({{products.order.user.username}})-->
        <!--print({{orders.user.username}})-->
        <!--print({{orders.id}})-->
        <!--print({{products.order.id}})-->
        <!--print({{ products.product.name }})-->

        <br>
            {% if products.order.user.username == orders.user.username and products.order.id == orders.id %}
                <div>{{ products.product.name }}</div>
            {% endif %}
        {% endfor %}


        {% if orders.status != 'Выполнен' %}
        <div class="form-group">
            <button type="submit" id="submit_btn" class="btn btn-success btn-buy"
                 data-product_id = "{{ product.id }}"
                  data-name ="{{ product.name }}"
                  data-price ="{{ product.price }}"
                  >
                Подтвердить получение
            </button>
        </div>
        {% endif %}

    </div>
</div>




